build/
dist/
nbproject/
target/
dependency-reduced-pom.xml
nb-configuration.xml
nb-actions.xml
*/.classpath
*/.project
*/.settings**
*/.externalToolBuilders**
*/maven-eclipse.xml
.idea/
*.iml
.settings/
.project
test-data/
/gravatar.perl
