<configuration>
  <timestamp key="byMinute" datePattern="yyyy'-'MM'-'dd'--'HHmm" timeReference="contextBirth"/>
  <conversionRule conversionWord="color" converterClass="de.cubeisland.engine.core.logger.ColorConverter" />

  <!-- File appenders-->
  <appender name="commands-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${cubeengine.logger.default-path}/${byMinute}/commands.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        <fileHeader>CubeEngine Commands log-file - ${byMinute}</fileHeader>
      </layout>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${cubeengine.logger.default-path}/${byMinute}/commands.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>${cubeengine.logger.max-file-count}</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${cubeengine.logger.max-size}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="permissions-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${cubeengine.logger.default-path}/${byMinute}/permissions.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%msg%n</pattern>
        <fileHeader>CubeEngine Permissions log-file - ${byMinute}</fileHeader>
      </layout>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${cubeengine.logger.default-path}/${byMinute}/permissions.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>${cubeengine.logger.max-file-count}</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${cubeengine.logger.max-size}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="language-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${cubeengine.logger.default-path}/${byMinute}/missing-translations.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        <fileHeader>CubeEngine Missing Translations log-file - ${byMinute}</fileHeader>
      </layout>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${cubeengine.logger.default-path}/${byMinute}/missing-translations.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>${cubeengine.logger.max-file-count}</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${cubeengine.logger.max-size}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="webapi-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${cubeengine.logger.default-path}/${byMinute}/webapi.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        <fileHeader>CubeEngine WebAPI log-file - ${byMinute}</fileHeader>
      </layout>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${cubeengine.logger.default-path}/${byMinute}/webapi.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>${cubeengine.logger.max-file-count}</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${cubeengine.logger.max-size}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="core-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${cubeengine.logger.default-path}/${byMinute}/core.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        <fileHeader>CubeEngine Core log-file - ${byMinute}</fileHeader>
      </layout>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${cubeengine.logger.default-path}/${byMinute}/core.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>${cubeengine.logger.max-file-count}</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${cubeengine.logger.max-size}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="exceptions-file" class="ch.qos.logback.core.FileAppender">
    <file>${cubeengine.logger.default-path}/${byMinute}/exceptions.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[%date{yyyy-MM-dd HH:mm:ss}] %msg%n</pattern>
        <fileHeader>CubeEngine Exceptions log-file - ${byMinute}</fileHeader>
      </layout>
    </encoder>>
    <filter class="de.cubeisland.engine.core.logger.ExceptionFilter" />
  </appender>


  <!-- Loggers -->
  <!-- Loggers that only should log to files -->
  <logger name="cubeengine.commands" level="debug" additivity="false">
    <appender-ref ref="commands-file" />
  </logger>

  <logger name="cubeengine.permissions" level="debug" additivity="false">
    <appender-ref ref="permissions-file" />
  </logger>

  <logger name="cubeengine.language" level="debug" additivity="false">
    <appender-ref ref="language-file" />
  </logger>

  <logger name="cubeengine.webapi" level="debug" additivity="false">
    <appender-ref ref="webapi-file" />
  </logger>

  <!-- The logger for the core-->
  <logger name="cubeengine.core" additivity="true">
    <appender-ref ref="core-file" />
  </logger>

  <!-- The parent logger for all loggers related to CubeEngine-->
  <logger name="cubeengine" level="all" additivity="false">
    <appender-ref ref="exceptions-file" />
    <!-- A JULAppender is set programmatically -->
  </logger>

  <root level="all"/>
</configuration>