<configuration>
  <!-- File appenders-->
  <appender name="commands-file" class="ch.qos.logback.core.FileAppender">
    <file>${cubeengine.log}/commands.log</file>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="permissions-file" class="ch.qos.logback.core.FileAppender">
    <file>${cubeengine.log}/permissions.log</file>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="language-file" class="ch.qos.logback.core.FileAppender">
    <file>${cubeengine.log}/missing-translations.log</file>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="webapi-file" class="ch.qos.logback.core.FileAppender">
    <file>${cubeengine.log}/webapi.log</file>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="core-file" class="ch.qos.logback.core.FileAppender">
    <file>${cubeengine.log}/core.log</file>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Console appenders -->
  <appender name="cubeengine-console" class="de.cubeisland.cubeengine.core.logger.BukkitAppender">
    <layout>
      <!-- We only want to print the message, as Bukkit and our BukkitAppender handles prefix with level and the newline -->
      <pattern>%msg</pattern>
    </layout>
  </appender>

  <!-- Loggers -->
  <!-- Loggers that only should log to files -->
  <logger name="cubeengine.commands" level="debug" additivity="false">
    <appender-ref ref="commands-file" />
  </logger>

  <logger name="cubeengine.permissions" level="debug" additivity="false">
    <appender-ref ref="permissions-file" />
  </logger>

  <logger name="cubeengine.language" level="debug" additivity="false">
    <appender-ref ref="language-file" />
  </logger>

  <logger name="cubeengine.webapi" level="debug" additivity="false">
    <appender-ref ref="webapi-file" />
  </logger>

  <!-- The logger for the core-->
  <logger name="cubeengine.core" additivity="true">
    <appender-ref ref="core-file" />
  </logger>

  <!-- The parent logger for all loggers related to CubeEngine-->
  <logger name="cubeengine" level="all" additivity="false">
    <appender-ref ref="cubeengine-console" />
  </logger>

  <root level="all"/>
</configuration>